<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/pc.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/smart-phone.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/header.css">
    <script src="../assets/js/jquery-3.4.1.min.js"></script>
    <script src="../assets/js/header.js"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>

            <div id="nav-content">
                <ul class="sidenav">
                    <li><a href="index.html">ライブ提案書</a></li>
                    <li><a href="index.html">ライブ報告書</a></li>
                    <li><a href="index.html">書類を書く</a></li>
                    <li><a href="index.html">このサイトについて</a></li>
                </ul>
            </div>

            <form id="form01" action="#" class="form">
                <input id="input01" type="text"><input id="submit01" type="submit" value="検索">
            </form>

            <div class="info">
                <a href="">このサービスについて</a>
            </div>
        </div>
    </header>

    <div id='page'>
        <div id='content'>
            <div id='doc-info-area'>
                <ul id='doc-info'>
                    <li id='date'>
                        <%= @time %>
                    </li>
                    <li id='write-user'>
                        <%= @member_id %>
                    </li>
                </ul>
            </div>

            <div id='doc-area'>
                <!--post内容表示エリア-->
                <!-- <img src='../assets/img/DSC_0651.JPG' alt='[doc-img]' class='doc-img'> -->
                <h2 class='doc-title'>
                    <%= @name %>
                </h2>
                <div class='doc-main'>
                    <%= @content %>
                </div>
            </div>
        </div>
    </div>

</body>

</html>