/* PC style */
@media screen and (min-width: 481px)
{ 
    .doc-list
    {
        margin: auto;
        overflow: hidden;
    }
}

/* smart-phone style */
@media screen and (max-width: 480px)
{
    .doc-list
    {
        margin: auto;
    }
}