/* smart-phone style */
@media screen and (max-width: 480px)
{
    #page
    {
        width: 100%;
        padding-top: 75px;
    }

    /* ____sort-menu */
    #doc-sort {
        width: 300px;
        margin: auto;
        margin-bottom: 10px;
    }
    #doc-sort .sort-btn {
        width: 100px;
        height: 45px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 7px;

        font-size: 13.5px;
    }

    /* content */
    #content
    {
        width: 96%;
        background: #FFFFFF;
        border-radius: 9px;
        margin: auto;

        padding: 5px;
        padding-bottom: 20px;
    }

    /* ____#serch-res */
    #content #search-res p
    {
        padding: 9px;
        font-size: 16px;
    }
    #content #search-res p .hit-cnt
    {
        font-weight: bold;
    }

    /* ____#post-wrapper */
    #content #post-wrapper
    {
        margin: auto;
    }
    #content #post-wrapper .post
    {
        width: 97%;
        height: 380px;
        margin: auto;
        margin-top: 20px;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
    }

    /* ________.post-title */
    #content #post-wrapper .post .post-title
    {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 7px;
        padding-bottom: 5px;
        font-size: 20px;
    }
    /* ________.post-img */
    #content #post-wrapper .post .post-img
    {
        width: 90%;
        height: 167px;
        object-fit: cover;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 6px;
    }
    /* ________.post-heading */
    #content #post-wrapper .post .post-heading
    {
        padding: 7px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    /* ________.more-link */
    #content #post-wrapper .post .more-link
    {
        color: black;
        text-align: center;

        padding-top: 2px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;

        width: 100px;
        height: 18px;
        margin-left: 15px;
        /* margin-top: 70px; */

        border-radius: 3px;
        background: #99CEFF;

        text-decoration: none;
    }
    #content #post-wrapper .post .more-link:hover
    {
        /* on-cursor */
        color: whitesmoke;
        background: #598bbb;
    }
    
    /* ____#tag-area */
    #content #tag-area
    {
        padding: 2px;
        padding-left: 10px;
        padding-top: 10px;
    }
    #content #tag-area #tags
    {
        overflow: hidden;
        list-style: none;
        padding: 0px;
    }
    #content #tag-area .doc-tag
    {
        float: left;
        border: solid 1px skyblue;
        border-radius: 5px;
        color: black;
        background-color: skyblue;
        margin-right: 5px;
        padding: 3px;
    }

    /* ____#doc-area */
    #content #doc-area
    {
        margin: auto;
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #content #doc-area .doc-img
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 16px;
        border-radius: 6px;
    }
    #content #doc-area .doc-title
    {
        font-size: 27px;
        padding-left: 10px;
    }
    #content #doc-area .doc-main
    {
        font-size: 20px;
        padding: 10px;
        padding-top: 0px;
    }

    /* ____#cmt-area */
    #content #cmt-area
    {
        width: 96%;
        margin: auto;
    }

    /* #content #cmt-area .title */
    .title
    {
        padding: 0.5em;
        color: #494949;
        background: #fffaf4;
        border-left: solid 5px #ffaf58;
        border-radius: 3px;
        margin-bottom: 25px;
        margin-top: 30px;
        padding: 8px
    }
    #content #cmt-area #posted-cmt #cmt-list
    {
        list-style: none;
        overflow: hidden;
        padding: 0px;
        padding-left: 5px;
    }
    #content #cmt-area #posted-cmt #cmt-list li
    {
        float: left;
    }
    #content #cmt-area #posted-cmt #cmt-list .cmt-user-icon img
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    #content #cmt-area #posted-cmt #cmt-list .user-id
    {
        padding: 10px;
        padding-top: 12px;
        font-size: 15px;
        color: darkgray;
    }
    #content #cmt-area #posted-cmt #cmt-list .cmt
    {
        padding: 10px;
    }
    #content #cmt-area #cmt-form form .input-box
    {
        width: 75%;
        height: 30px;
    }
    #content #cmt-area #cmt-form form .cmt-btn
    {
        width: 55px;
        height: 35px;
        border: none;
        position: relative;
        background:#7fbfff;
    }

    /* ____#doc-form */
    #content #doc-form #select-tags
    {
        font-size: 18px;
        padding-right: 6px;
        padding-left: 6px;
    }
    #content #doc-form #select-tags .label
    {
        display:block;
    }
    #content #doc-form .input-box
    {
        width: 80%;
        height: 75px;

        margin-left: 10%;
        margin-right: 10%;

        resize: vertical;
    }

    /* ____#pre-button */
    #content #pre-button
    {
        width: 55px;
        margin: auto;
        margin-top: 30px;
    }
    #content #pre-button .pre-btn
    {
        width: 55px;
        height: 35px;
        border: none;
        background:#7fbfff;
        border-radius: 7px;
        font-size: 16px;
    }
}