
.make{
	width:800px;
	border:5px solid pink;
	margin-top:10px;
	margin-left:100px;
	}
	
.contents{
	display:inline-block;
	width:450px;
	margin-left:50px;
	vertical-align:top;
}

.contents .title{
	font-size:40px;
	margin:20px 0 30px 0;
	border-bottom:solid pink;
}

.contents .detail{
	font-size:15px;
	color:gray;
	margin-bottom:10px;
}

.contents img{
	width:450px;
}

.tag{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
   font-size:13px;
}

.contents .icon{
	width:20px;
	margin-left:300px;
	color:gray;
}


.recon{
	width:400px;
	margin:50px 10px 0 70px;
	display:inline-block;
}


.recon img{
	width:400px;
}

.recon .recon-icon{
	width:30px;
}

.recon-tag{
	display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 1px #67c5ff;
  border-radius: 3px;
  transition: .4s;
	font-size:12px;

}

.recon p{
	font-size:25px;
	display:inline-block;
	margin-left:15px;
}


h3{
	margin:20px 0 0 50px;
	}
	
	
	



	