


.request{
  display: inline-block;
  margin: 20px 100px 10px 140px;
  padding: 20px 50px;
  width:600px;
  background: white;
  border-bottom:solid gray 1pt;
  color:gray;
}





.request a{
    font-size:30px;
    margin-left:20px;
}

.request p{
    margin-top:10px;
    margin-bottom:20px;
}
    
    
.tag{
    display:inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
   font-size:13px;
}




.detail{
    border:5px solid pink;
    width: 800px;
    height:300px;
    margin:20px 0 0 100px;
    }
    
.fix{
    position:fixed;
    bottom:15px;
    right:15px;
    width:100px;
    z-index:0;
}
    
    
    
.date{
    float:right;
}


.profile{
    margin-top:20px;
}
.side{
    display:inline-block;
    margin-top:20px;
}
    
.title{
    font-size:30px;
    }
    
.req_detail{
    width:500px;
    }
    
    
    
    .message{
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.message:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.message p {
  margin: 0;
  padding: 0;
}


.button{
}
    