


.request{
  display: inline-block;
  margin: 20px 100px 10px 140px;
  padding: 20px 50px;
  width:600px;
  background: white;
  border-bottom:solid gray 1pt;
  color:gray;
}





.request a{
    font-size:30px;
    margin-left:20px;
}

.request p{
    margin-top:10px;
    margin-bottom:20px;
}
    
    
.tag{
    display:inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
   font-size:13px;
}




.detail{
    background-color:#ffe8eb;
    width: 930px;
    margin:20px 0 0 100px;
    }
    
.fix{
    position:fixed;
    bottom:15px;
    right:15px;
    width:100px;
    z-index:0;
}
    
    
    
.date{
    float:right;
}


.profile{
    margin-top:40px;

    padding:20px;
    width:120px;
}

.side{
    display:inline-block;
    margin-top:20px;
}
    
.title{
    font-size:30px;
    }
    
.req_detail{
    width:620px;
    background-color:white;
    padding:20px 30px;
    }
    
    
    
    .message{
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 25px;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  width:640px;
}

.message:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.message p {
  margin: 0;
  padding: 0;
}


.button {
  padding: 0.8em 2em;
  text-decoration: none;
  background: white;/*ボタン色*/
  color: pink;
  border: solid 2px pink;
  border-radius: 3px;
  font-size:15px;
  vertical-align: middle;
  margin-left:500px;
}
.button:hover {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
}

.member{
    margin-left:45px;
    }