* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #e1f3ff;
    color: black;
}

    header .headline {
        line-height: 100px;
        font-size: 30px;
        text-align: center;
    }


main {
    text-align:center;
    margin-left: 30px;
    margin-right:30px;
    padding: 20px;
}

p {
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
    font-family: "Arial", "メイリオ";
    text-align: left;
}

.btn-border-bottom {
    float: right;
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

    .btn-border-bottom:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 70%;
        left: 0;
        border-radius: 3px;
        background: #67c5ff;
        transition: .2s;
    }

    .btn-border-bottom:hover:before {
        top: -webkit-calc(70% - 3px);
        top: calc(70% - 3px);
    }

button {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 5px;
    border: none;
    background-color: #fff;
}

img {
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.cicon {
    align-items: center;
    width: 150px;
    height: 150px;
}

.sicon {
    align-items: center;
    width: 150px;
    height: 150px;
}


.pic {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

    .pic img {
        height: 60%;
        width: 100%;
        margin: 0px;
    }

.btn,
cselect.btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 5px;
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #212529;
}

cchoice.btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 3px;
    position: relative;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #212529;
}


.btn0 {
    color: #fff;
    background-color: #C0C0C0;
}

    .btn0:hover {
        color: #fff;
        background: #808080;
        border: 3px solid #000;
    }

.btn0 {
    border-radius: 150%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
}

.btn1 {
    color: #000;
    background-color: #CCFFFF;
}

    .btn1:hover {
        color: #000;
        background: #99FFFF;
        border: 3px solid #000;
    }

.btn1 {
    border-radius: 150%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
}

.btn2 {
    color: #000;
    background-color: #FFFF99;
}

    .btn2:hover {
        color: #000;
        background: #FFFF66;
        border: 3px solid #000;
    }

.btn2 {
    border-radius: 150%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
}

.btn-square {
    display: inline-block;
    font-size: 2rem;
    background: #000; /*ボタン色*/
    width: 150px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 700;
    line-height: 2.5;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFF;
    border-bottom: solid 0px #627295;
    border-radius: 3px;
}



.cselect {
    margin: auto 0px auto 0px;
    display: flex;
}

    .cselect a {
        text-decoration: none;
        margin: auto 0px auto 0px;
    }

.th {
    margin: auto 0px auto 0px;
}

.tw {
    margin: auto 0px auto 0px;
}

.fo {
    margin: auto 0px auto 0px;
}

.fi {
    margin: auto 0px auto 0px;
}

.sselect {
    display: flex;
}

    .sselect a {
        text-decoration: none;
        margin: auto 0px auto 0px;
    }

.cselections {
    display: flex;
    margin: 0 auto 0 0;
}

.sselections {
    display: flex;
    margin: 0 auto 0 0;
}


.modeselection {
    display: flex;
    margin: 0px;
    padding: 5px 0px;
    height: 30%;
}

.mode {
    align-items: center;
}


.buttonx {
    margin: auto 20px auto 20px;
}

.camera {
    text-align: center;
    margin-top: 100px;
}

.control {
    position: absolute;
    top: 5px;
    left: 5px;
}

    .control #exit {
        display: none;
    }
   
.mv {
    margin-top:60px;
    text-align: center;
}

.btn-circle-border-simple {
    display: inline-block;
    text-decoration: none;
    color: #668ad8;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: solid 2px #668ad8;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
}

    .btn-circle-border-simple:hover {
        background: #b3e1ff;
    }

.btn-circle-border-simple1 {
    display: inline-block;
    text-decoration: none;
    color: #668ad8;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: solid 2px #668ad8;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
}

    .btn-circle-border-simple1:hover {
        background: #b3e1ff;
    }

.zentai {
    margin-top: 60px;
    text-align: center;

}